# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
packer

# Valgrind
*.out.*

# R functions
rerf/

# generic don't upload
*.ignore
bin/
res/allstate
res/mnist
res/higgs

# The forest in csv form
*.csv*
